.content .project-header {
    grid-column: 1 / -1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-header .title-container {
    display: flex;
    align-items: center;
    gap: 8px;

    height: 2.5rem;
}

.project-header .project-title,
.project-header input {
    height: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    line-height: normal;
}

.project-header .project-title {
    padding: 0;
}

.project-header input {
    padding: 0 12px;

    background-color: var(--color-bg);
    color: var(--color-text);

    border: 2px solid var(--color-btn-border);
    border-radius: 2em;

    font-size: 1.1rem;

    width: 100%;
}

.project-header input:focus {
    outline: none;
    border-color: var(--color-bg-light);
}

.project-header .actions {
    display: flex;
    flex-shrink: 0;
    gap: 8px;
}

.project-header .actions button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content button:hover {
    transform: scale(1.1);
}